<div class="py-4">
  <div class="container">
    <div id="main_visual" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#main_visual" data-slide-to="0" class="active"></li>
        <li data-target="#main_visual" data-slide-to="1"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="img-fluid" src="/resume-image.png" alt="resume-logo">
          <div class="carousel-caption d-none d-lg-block text-dark jpn-style">
            <h2><strong>自分の履歴書に個性をプラス！</strong></h2>
            <p>Resume+で自分の特徴をまとめよう！</p>
          </div>
        </div>
        <div class="carousel-item">
          <img class="img-fluid" src="/resume-image.png" alt="resume-logo">
          <div class="carousel-caption d-none d-lg-block text-dark jpn-style">
            <h2><strong>自分の特徴を洗い出す！</strong></h2>
            <p>My personality機能を使って自分の強み・個性を見つけ出そう！</p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#main_visual" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">前に戻る</span>
      </a>
      <a class="carousel-control-next" href="#main_visual" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">次に進む</span>
      </a>
    </div>
  </div>
</div>
<div class="py-4 bg-light">
  <section id="whatResume">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-4">
          <img src="/what-resume.png" alt="Resume+とは" class="img-fluid">
        </div>
        <div class="col-md-8 mb-3 jpn-style">
          <h2 class="my-4 text-center"><strong>Resume+</strong>とは</h3>
          <div class="bg-white rounded p-3">
            <p><strong>Resume+</strong>とはその名の通り履歴書にプラスできる自分の特徴や情報を<strong>発見・登録</strong>する事ができるサービスです。<p>
            <p class="mb-3">アルバイトの面接、就職活動などで履歴書を書く時、「書く事がない！」「何を書いていいのかわからない！」と思った経験はありませんか？Resume+のMy personality表を埋める事で「自分とはどんな人なのか」「自分の特徴、強みは何なのか」
            を見つけ出す事ができるでしょう。また、それらを登録しておく事でResume+を開けば<strong>いつでもあなたの特徴・個性を再確認</strong>することができます。</p>
            <p class="mb-3">Resume+をつかって自分の<strong>特徴・個性</strong>を整理しておきましょう！</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="whatMypersonality">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <img src="/mypersonal.png" alt="Mypersonalityとは" class="img-fluid">
        </div>
        <div class="col-md-8 mb-3 jpn-style">
          <h2 class="my-4 text-center"><strong>My personality</strong>とは</h3>
          <div class="bg-white rounded p-3">
            <p>Resume+には「<strong>My personality</strong>」という機能があります。それを使えば、自分がどのような人かわかってくるでしょう。<p>
            <p class="mb-3">My personality表には就職の際に役立つ、<strong>あなたに関する質問</strong>を<strong>約56種類</strong>用意しました。その表を埋めることで自分の強み特徴がわかるようになるでしょう。<br>
            質問に対して、自身で５段階評価をし、それに関するエピソードやその評価にした理由などを書いて、最後にまとめる事ができる機能です。</p>
            <p class="mb-3">人生の軸となる、<strong>自分の方向性</strong>をResume+で発見してみませんか？</p>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center my-5 jpn-style">
      <h4 class="mb-4 text-muted">さぁ、自分の情報をまとめてみましょう！</h1>
      <%= link_to '新規登録', signup_path, class: 'btn btn-success mr-4' %>
      <a href="#" class="btn btn-success">ログイン</a>
    </div>
  </section>
</div>
